<div id="container">
    <div class="about-main">
        <div class="code-info">
            <h1 class="code-title">ABILITIES</h1>
            <div class="abilities-body row">
                <div class="code-languages col-5">
                    <app-languages-list></app-languages-list>
                </div>
                <div class="code-technologies col-5">
                    <app-technologies-list></app-technologies-list>
                </div>
            </div>
        </div>
    </div>
</div>