.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    align-items: flex-start;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
}