<div>
    <div id="container">
        <div class="title-body">
            <h2 (click)="routeToHome()" class="titles">Mitchell Burley</h2>
            <div class="sub-titles" >
                <p class="sub-title-text">Full Stack Developer &middot; Newcastle, Australia</p>
            </div>
        </div>
        <div *ngIf="showProjects">
            <app-projects></app-projects>
        </div>
        <div *ngIf="showContact">
            <app-contact></app-contact>
        </div>
        <div *ngIf="showAbout">
            <app-about></app-about>
        </div>
        <div (click)="routeToAbout()">
            <fa-icon class="angle-text" [icon]="faAngleRight"></fa-icon>
        </div>
    </div>
</div>
