.titles {
    position: absolute; 
    z-index: 250;
    font-family: "addison";
    font-size: 4rem;
    order: 1;
    left: 115px;
    top: 40px;
}

.sub-titles {
    position: absolute;
    z-index: 249;
    font-family: "paperflowers";
    font-size: 2em;
    font-weight: bold;
    order: 2;
    top: 230px;
    left: 130px;
}

.sub-title-text {
    padding-right: 3rem;
}

.sub-title-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title-body {
    position: absolute;
    z-index: 250;
    display: flex;
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 420px) {
    .title-body {
        position: absolute;
        z-index: 250;
        display: flex;
        width: 400px;
        height: 200px;
    }
    .titles {
        position: absolute; 
        z-index: 250;
        font-family: "addison";
        font-size: 3.2rem;
        order: 1;
        left: 60px;
        top: 40px;
    }
    .sub-titles {
        position: absolute;
        z-index: 249;
        font-family: "paperflowers";
        font-size: 2em;
        font-weight: bold;
        order: 2;
        top: 200px;
        left: 50px;
    }
}