<div class="container">
    <div class="item"> 
        <img src="assets\angular-logo.svg" width="100" height="100">
        <!-- <span class="tech-text">Angular</span> -->
    </div>
    <div class="item"> 
        <img src="assets\azure-logo.png" width="100" height="100">
    </div>
    <div class="item"> 
        <img src="assets\firebase-logo.svg" width="100" height="100">
    </div>
    <div class="item"> 
        <img src="assets\graphql-logo.svg" width="100" height="100">
    </div>
</div>