.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    align-items: flex-start;
    display: block;
    opacity: 1;
    margin: 20px;
    width: 100px;
    height: 100px;
}

.tech-text {
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
}
